/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main styles */

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #281C13;
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 150%;
}

ul {
    line-height: 200%;
    list-style-type: none;
    padding: 0 10px;
}

main {
    margin-top: 90px;
    /* The "flex: 1 0 auto" code below was copied and repurposed from the love running project */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

}

/* Form Elements Universal Styles */

label {
    color: whitesmoke;
    font-weight: bold;
}

select {
    padding: 10px;
}

/* Header & Footer Main Styles */

header {
    z-index: 99;
    position: fixed;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    height: 90px;
    width: 100%;
    background-color: #281C13;
    border-bottom: 2px solid #B97D58;
}

header,
footer {
    color: whitesmoke;
}

header img {
    width: 90px;
    margin-top: 5px;
}

/* Headings */

.secondary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: whitesmoke;
}

.tertiary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #281C13;
    padding: 0 15px;
}

.hidden {
    display: none;
}

.remove-margin {
    margin: 0;
}

/* Navbar */

#navbar {
    padding-right: 15px;
}

#navbar a,
#navbar a:visited {
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 5px;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a#active {
    color: #c9af9f;
}

/* Hero Section */

.hero {
    width: 100%;
    height: 500px;
    background: url('../images/hero.webp') no-repeat center center / cover;
    background-position: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #281C13;
}

.tagline {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 30px;
}

/* index.html Middle Section - Motivation Blocks */

.motivation-container-outer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.motivation-container {
    border: 1px solid #5A120A;
    padding: 10px 5px;
    font-size: small;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.motivation-container h4 {
    margin: 0;
    font-size: large;
}

.motivation-container p {
    margin: 10px;
    margin-bottom: 0;
    width: 280px;
}

.motivation-container img {
    width: 280px;
    padding-bottom: 10px;

}

/* index.html Lower Section - Info Blocks */

.info-outer-box {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.info-outer-box i {
    font-size: 60px;
    padding: 8px 20px;
}

.info-inner-box {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* Colours for Information Boxes*/

.rosy-brown {
    background-color: #B49489;
}

.bistre {
    background-color: #281C13;
}

.blood-red {
    background-color: #5A120A;
}

.brown-sugar {
    background-color: #B97D58;
}

.van-dyke {
    background-color: #37292A;
}

.text-white {
    color: whitesmoke;
}

/* Parallax image on index.html - static below 1200px screen size */

.parallax-image {
    width: 100%;
    border: 1px solid #5A120A;
    background: url("../images/landing-page-parallax-image.webp") no-repeat center / cover;
    background-size: 200%;
    background-position: 50% 70%;
    height: 250px;
}

/* Sign up button on index.html and cooking-class-sign-up.html */

.sign-up-section {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* The CSS Code below ("a.sign-up-button") for turning an ahref into a button element (without using the <button> 
syntax), was copied and adapted form code provided through the ChatGPT Large Language Model AI */

a.sign-up-button {
    padding: 25px;
    background-color: #5A120A;
    border-radius: 15px;
    margin-top: 15px;
}

a.sign-up-button,
a.sign-up-button:visited {
    color: whitesmoke;
    text-decoration: none;
}

a.sign-up-button:hover {
    background-color: whitesmoke;
    color: #5A120A;
    border:4px solid #5A120A;
}

/* Sign up Page Background Styling */

#signup-page {
    /* The "flex: 1 0 auto" code below was copied and repurposed from the love running project */
    flex: 1 0 auto;
    background: #5A120A url('../images/sign-up-page-background.webp') no-repeat center center / cover;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form-container {
    border: 2px solid whitesmoke;
    background-color: rgba(0, 0, 0, .8);
    padding: 17px;
    margin-top: 80px;
    margin-bottom: 200px;
}

/* Sign up Form Styling */

.text-input {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 5px;
    font-size: larger;
}

.text-input:hover {
    background-color: black;
    border: 2px solid #B97D58;
}

.radio-button {
    margin: 10px 0;
}

.confirm-registration-button {
    padding: 20px 60px;
    font-size: large;
    font-weight: 700;
    background-color: #5A120A;
    color: whitesmoke;
    border-radius: 5px;
    border: 0;
}

.confirm-registration-button:hover {
    padding: 20px 60px;
    font-size: large;
    font-weight: 700;
    background-color: whitesmoke;
    color: #5A120A;
    border-radius: 5px;
    border: 0;
}

/* Stories Page Background Styling */

.stories-page {
    /* The "flex: 1 0 auto" code below was copied and repurposed from the love running project */

    background: #5A120A url('../images/stories-page-background.webp') no-repeat center top / cover;
    background-position: 58%;
    color: whitesmoke;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Stories Page Container Styling */

#stories-container-box {
    width: 80%;
    max-width: 600px;
    margin: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.stories-box {
    margin: 10px 5px;
    height: auto;
    width: 220px;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.7);
}

#stories-page-sign-up-box {
    width: 80%;
    max-width: 600px;
    margin: 15px;
}

/* Footer */

footer {
    z-index: 99;
    height: 100px;
    width: 100%;
    padding-top: 15px;
    background-color: #281C13;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #B97D58;
}

footer p {
    font-size: smaller;
    padding-top: 10px;

}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons a,
.social-icons a:visited {
    color: rgb(217, 217, 217);
}

.social-icons a:hover {
    color: #5A120A;
}

.social-icons i {
    font-size: 45px;
}

/* Media Query for cellphones and small screens */

@media screen and (max-width: 767px) {

    /* Centre Customer Testimonials on stories page when screen is smaller */
    .stories-page {
        align-content: center;
    }

    #stories-container-box {
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    
    /* Change hero layout for larger screens */
    
    .hero {
        height: 350px;
        position: relative;
    }

    .tagline {
        width: 400px;
        position: absolute;
        left: 100px;
    }

    .tagline h2 {
        font-size: 40px;
        line-height: 150%;
    }

    /* Enlarge Navbar Links for larger screens */

    #navbar a, 
    #navbar a:visited {
    font-size: 28px;
    padding: 15px;
    }

    #navbar {
        padding-right: 35px;
    }

    /* Add more vertical space around the information boxes on index.html for when screens are larger */

    .info-outer-box {
        margin-top:30px;
        margin-bottom: 20px;
    }

    /* Slightly enlarge signup form - on signup page - for bigger screens */
    
    #signup-form-container { 
        padding: 25px 80px;
    }

    /* Change space around the sign up button on stories page when screens are larger */

    .extra-margin {
        margin-top: 30px;
        /* margin-left: 13px; */
        height: 150px;
    }
}


@media screen and (min-width:1200px) {

    /* Parallax image on index.html - active above 1200px screen size */

    .parallax-image {
        width: 100%;
        border: 1px solid #5A120A;
        background: url("../images/landing-page-parallax-image.webp") no-repeat center / cover;
        height: 250px;
        background-position: 50% 50%;
        background-attachment: fixed;
    }
}