@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*
COLORS

Blood Red #5A120A
Rosy Brown #B49489
Bistre #281C13
Brown Sugar #B97D58
Van Dyke #37292A

*/

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
    position: relative;
    background: whitesmoke;
}

p {
    line-height: 150%;
}

ul {
    line-height: 200%;
    list-style-type: none;
    padding: 0 10px;
}
main {
    margin-top: 100px;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
}

.tagline {
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px 30px;
}

.secondary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: whitesmoke;
}

.tertiary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: black;
    padding: 0 15px;
}

header {
    position: fixed;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    width: 100%;
    padding: 0 15px;
    background-color: #281C13;
    border-bottom: 2px solid whitesmoke;
}

header, footer {
    color: rgb(217, 217, 217);
}

header img {
    width: 100px;
}

.hero {
    width: 100%;
    height: 550px;
    background: url('../images/hero-temp.jpg') no-repeat center center / cover;
    background-position: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* min-height: 200vh; */
}

.motivation-container-outer {
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.motivation-container {
    border: 1px solid red;
    flex-grow: 1;
    padding: 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.motivation-container h4 {
    margin: 0;
    font-size: large;
}

.motivation-container p {
    margin: 10px;
    margin-bottom: 0;
    width: 300px;
}

.motivation-container img {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;

}


#navbar {
    padding-right: 25px
}

#navbar a, #navbar a:visited {
    font-size: large;
    color: whitesmoke;
    padding: 0 10px;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}


.info-outer-box {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.info-outer-box i {
    font-size: 60px;
    padding: 8px 20px;
}

.info-inner-box p {
    max-width: 165px;
    padding: 25px;
    margin: 0;
}

.info-inner-box {
    border: 1px solid #5A120A;
    border-collapse: collapse;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.rosy-brown {
    background-color: #B49489;
}

.bistre {
    background-color: #281C13;
}

.blood-red {
    background-color: #5A120A;
}

.brown-sugar {
    background-color: #B97D58;
}

.van-dyke {
    background-color: #37292A;
}

.text-white {
    color: whitesmoke;
}

.sign-up-section {
    margin: 60px 0;
}

a.sign-up-button {
    padding: 30px;
    background-color: #5A120A;
    border-radius: 15px;
}

a.sign-up-button, a.sign-up-button:visited {
    color: whitesmoke;
    text-decoration: none;
}

a.sign-up-button:hover {
    background-color: whitesmoke;
    color: #5A120A;
    border: 10px solid #5A120A;
}

footer {
    height: 100px;
    width: 100%;
    padding-top: 15px;
    background-color: #281C13;
    position: absolute;
    bottom: -12rem;
    border-top: 2px solid whitesmoke;
}

footer p {
    font-size: smaller;
    padding-top: 10px;

}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons a, .social-icons a:visited {
    color: rgb(217, 217, 217);
}

.social-icons a:hover {
    color: #5A120A;
}

.social-icons i {
   font-size: 45px;
}