/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main styles */

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #281C13;
    position: relative;
    background: whitesmoke;
}

p {
    line-height: 150%;
}

ul {
    line-height: 200%;
    list-style-type: none;
    padding: 0 10px;
}

main {
    margin-top: 90px;
}

/* Header & Footer Main Styles */

header {
    z-index: 99;
    position: fixed;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0 15px;
    background-color: #281C13;
    border-bottom: 2px solid #B97D58;
}

header,
footer {
    color: whitesmoke;
}

header img {
    width: 90px;
}

/* Headings */

.secondary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: whitesmoke;
}

.tertiary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #281C13;
    padding: 0 15px;
}

.hidden {
    display: none;
}

/* Navbar */

#navbar {
    padding-right: 25px
}

#navbar a,
#navbar a:visited {
    font-size: large;
    color: whitesmoke;
    padding: 0 10px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

/* Hero Section */

.hero {
    width: 100%;
    height: 500px;
    background: url('../images/hero.webp') no-repeat center center / cover;
    background-position: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 30px;
}

/* index.html Middle Section - Motivation Blocks */

.motivation-container-outer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.motivation-container {
    border: 1px solid #5A120A;
    padding: 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.motivation-container h4 {
    margin: 0;
    font-size: large;
}

.motivation-container p {
    margin: 10px;
    margin-bottom: 0;
    width: 300px;
}

.motivation-container img {
    width: 350px;
    padding-bottom: 10px;

}

/* index.html Lower Section - Info Blocks */

.info-outer-box {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.info-outer-box i {
    font-size: 60px;
    padding: 8px 20px;
}

.info-inner-box p {
    max-width: 165px;
    padding: 25px;
    margin: 0;
}

.info-inner-box {
    border: 1px solid #5A120A;
    border-collapse: collapse;
    padding: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* Colours for Motivation Boxes*/

.rosy-brown {
    background-color: #B49489;
}

.bistre {
    background-color: #281C13;
}

.blood-red {
    background-color: #5A120A;
}

.brown-sugar {
    background-color: #B97D58;
}

.van-dyke {
    background-color: #37292A;
}

.text-white {
    color: whitesmoke;
}

/* Sign up button on index.html */

.sign-up-section {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* The CSS Code below ("a.sign-up-button") for turning an ahref into a button element (without using the <button> 
syntax), was copied and adapted form code provided through the ChatGPT Large Language Model AI */

a.sign-up-button {
    padding: 30px;
    margin-top: 10px;
    background-color: #5A120A;
    border-radius: 15px;
}

a.sign-up-button,
a.sign-up-button:visited {
    color: whitesmoke;
    text-decoration: none;
}

a.sign-up-button:hover {
    background-color: whitesmoke;
    color: #5A120A;
    border: 10px solid #5A120A;
}

/* Sign up Page Background Styling */

#signup-page {
    height: 82vh;
    background: #5A120A url('../images/sign-up-page-background.webp') no-repeat center center / cover;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form-container {
    border: 2px solid whitesmoke;
    background-color: rgba(0, 0, 0, .8);
    padding: 25px;
}

/* Sign up Form Styling */

.text-input {
    background-color: transparent;
    border: 1px solid whitesmoke;
}

/* Footer */

footer {
    z-index: 99;
    height: 100px;
    width: 100%;
    padding-top: 15px;
    background-color: #281C13;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #B97D58;
}

footer p {
    font-size: smaller;
    padding-top: 10px;

}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons a,
.social-icons a:visited {
    color: rgb(217, 217, 217);
}

.social-icons a:hover {
    color: #5A120A;
}

.social-icons i {
    font-size: 45px;
}

/* Media Query for Tablets and Larger */

@media screen and (min-width:768px) {
    .hero {
        height: 350px;
        position: relative;
    }

    .tagline {
        width: 400px;
        position: absolute;
        left: 100px;
    }

    .tagline h2 {
        font-size: 40px;
        line-height: 150%;
    }
}